[Unit]
Description=FuOverflow Frontend
After=network.target

[Service]
User=patrick
WorkingDirectory=/opt/fuoverflow/frontend
EnvironmentFile=/opt/fuoverflow/.env
ExecStart=/usr/bin/npm run start
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
